Repository andreasgriffin/bitcoin-safe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, ensure-desktop-newline, pyright

check-header:
  name: Check Python File Headers
  entry: python tools/check_header.py
  language: system

ensure-desktop-newline:
  name: Ensure desktop files end with newline
  entry: python tools/ensure_desktop_newline.py
  language: system

pyright:
  name: Pyright Type Check (npm install -g pyright)
  entry: bash -c 'if command -v pyright >/dev/null; then pyright; else echo "pyright not installed, skipping..."; exit 0; fi'
  language: system
  pass_filenames: false

click_custom_signature to 2 of
  bitcoin_safe/gui/qt/main.py
Due: check-header, pyright

fix tests
  tests/gui/qt/test_setup_wallet_custom.py
  tests/gui/qt/test_wallet_features.py
Due: check-header, pyright

squash
  bitcoin_safe/gui/qt/address_list.py
  bitcoin_safe/gui/qt/bitcoin_quick_receive.py
  bitcoin_safe/gui/qt/my_treeview.py
  bitcoin_safe/gui/qt/qr_components/quick_receive.py
Due: check-header, pyright

squash
  bitcoin_safe/gui/qt/btcpay_web_button.py
  bitcoin_safe/network_utils.py
  tests/gui/qt/test_payment_widget.py
  tests/non_gui/test_network_utils.py
Due: check-header, pyright

lock
  poetry.lock
Due: none

fi
  bitcoin_safe/gui/qt/address_list.py
  bitcoin_safe/gui/qt/hist_list.py
  bitcoin_safe/gui/qt/history_range.py
  bitcoin_safe/gui/qt/my_treeview.py
Due: check-header, pyright

fix colors
  bitcoin_safe/gui/icons/shield-2-of-3 - recovery.svg
  bitcoin_safe/gui/icons/shield-2-of-3 - signers.svg
  bitcoin_safe/gui/icons/shield-2-of-3.svg
  bitcoin_safe/gui/icons/shield-3-of-5 - recovery.svg
  bitcoin_safe/gui/icons/shield-3-of-5 - signers.svg
  bitcoin_safe/gui/icons/shield-3-of-5.svg
  bitcoin_safe/gui/icons/shield-single-sig - recovery.svg
  bitcoin_safe/gui/icons/shield-single-sig - signers.svg
  bitcoin_safe/gui/icons/shield-single-sig.svg
Due: none

Add dedicated wizard navigation bar
  bitcoin_safe/gui/qt/step_progress_bar.py
  bitcoin_safe/gui/qt/wizard/wizard_step_distribution.py
  bitcoin_safe/gui/qt/wizard/wizard_step_import.py
  bitcoin_safe/gui/qt/wizard/wizard_support.py
Due: check-header, pyright

Remove unused floating wizard button bar
  bitcoin_safe/gui/qt/wizard/wizard.py
  bitcoin_safe/gui/qt/wizard/wizard_step_distribution.py
  bitcoin_safe/gui/qt/wizard/wizard_step_import.py
  bitcoin_safe/gui/qt/wizard/wizard_step_plugins.py
  bitcoin_safe/gui/qt/wizard/wizard_step_receive.py
  bitcoin_safe/gui/qt/wizard/wizard_step_send.py
  bitcoin_safe/gui/qt/wizard/wizard_step_setup.py
  bitcoin_safe/gui/qt/wizard/wizard_support.py
Due: check-header, pyright

Place embedded wizard previous button on left
  bitcoin_safe/gui/qt/wizard/wizard.py
Due: check-header, pyright

fix
  tests/gui/qt/test_setup_wallet.py
  tests/gui/qt/test_setup_wallet_multisig.py
Due: check-header, pyright

Update embedded wizard routing test role
  tests/gui/qt/test_wizard_send_test_routing.py
Due: check-header, pyright

updated
  docs/tx-linux.png
  docs/tx-mac.png
  docs/tx-win.png
Due: none

Update README for default compact block filters
  README.md
Due: none

bump version
  bitcoin_safe/__init__.py
  bitcoin_safe/gui/qt/btcpay_web_button.py
  pyproject.toml
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.metainfo.xml
Due: check-header, pyright

reorder
  bitcoin_safe/gui/qt/btcpay_web_button.py
Due: check-header, pyright

discard on the left
  bitcoin_safe/gui/qt/descriptor_ui.py
Due: check-header, pyright

Make GUI tests robust to custom apply buttons
  tests/gui/qt/helpers.py
  tests/gui/qt/test_address_list.py
  tests/gui/qt/test_history_range.py
  tests/gui/qt/test_setup_wallet_custom.py
  tests/gui/qt/test_wallet_features.py
  tests/gui/qt/test_wallet_rbf_cpfp.py
Due: check-header, pyright

squash
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build-and-test-mac.yml
  .github/workflows/build-appimage-and-test.yml
  .github/workflows/build-flatpak-and-test.yml
  .github/workflows/build-windows-and-test.yml
  .github/workflows/check-build-reproducibility.yml
  tools/build.py
  tools/compare_artifact_sets.py
Due: check-header, pyright

Rename AppImage tree during deb staging
  tools/appimage_to_deb_converter.py
Due: check-header, pyright

Centralize Linux package metadata
  bitcoin_safe/app_metadata.py
  pyproject.toml
  tests/non_gui/test_linux_metadata.py
  tools/appimage_to_deb_converter.py
  tools/build-linux/appimage/run_in_docker.sh
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.metainfo.xml
  tools/build.py
  tools/generate_linux_metadata.py
  tools/resources/linux-bitcoin-safe.desktop
Due: check-header, ensure-desktop-newline, pyright

Centralize Windows and macOS metadata
  bitcoin_safe/app_metadata.py
  tests/non_gui/test_linux_metadata.py
  tools/build-linux/appimage/run_in_docker.sh
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-mac/compare_dmg
  tools/build-mac/make_osx.sh
  tools/build-mac/osx.spec
  tools/build-mac/package.sh
  tools/build-mac/sign_osx.sh
  tools/build-wine/bitcoin_safe.nsi
  tools/build-wine/bitcoin_safe_metadata.nsh
  tools/build-wine/run_in_docker.sh
  tools/generate_packaging_metadata.py
Due: check-header, pyright

Fix Debian app metadata wiring
  bitcoin_safe/app_metadata.py
  tests/non_gui/test_linux_metadata.py
  tools/appimage_to_deb_converter.py
  tools/build.py
Due: check-header, pyright

Add macOS bundled license file
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/make_osx.sh
  tools/build-mac/osx.spec
  tools/build-mac/package.sh
Due: check-header, pyright

Add styled macOS DMG background
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/create_styled_dmg.sh
  tools/build-mac/make_osx.sh
  tools/build-mac/package.sh
  tools/build-mac/sign_osx.sh
  tools/resources/dmg-background.png
Due: check-header, pyright

Add Debian legacy AppStream metadata
  bitcoin_safe/app_metadata.py
  tests/non_gui/test_linux_metadata.py
  tools/appimage_to_deb_converter.py
  tools/build.py
Due: check-header, pyright

Add Windows portable executable metadata
  bitcoin_safe/app_metadata.py
  tests/non_gui/test_linux_metadata.py
  tools/build-wine/build_exe.sh
  tools/build-wine/deterministic.spec
Due: check-header, pyright

Revert mac DMG builder to plain hdiutil flow
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/create_styled_dmg.sh
  tools/build-mac/make_osx.sh
  tools/build-mac/package.sh
  tools/build-mac/sign_osx.sh
Due: check-header, pyright

Wait for Finder before styling DMG
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/create_styled_dmg.sh
Due: check-header, pyright

Fix DMG background file alias
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/create_styled_dmg.sh
Due: check-header, pyright

Harden styled mac DMG creation
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/create_styled_dmg.sh
  tools/build-mac/make_osx.sh
  tools/build-mac/package.sh
  tools/build-mac/sign_osx.sh
Due: check-header, pyright

Restore DMG helper executable bit
  tools/build-mac/create_styled_dmg.sh
Due: none

Resize DMG background to window bounds
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/create_styled_dmg.sh
Due: check-header, pyright

Refresh DMG background artwork
  tools/resources/dmg-background.png
Due: none

cleaner image
  tools/resources/dmg-background.png
Due: none

Revert "Add Debian legacy AppStream metadata"
  bitcoin_safe/app_metadata.py
  tests/non_gui/test_linux_metadata.py
  tools/appimage_to_deb_converter.py
  tools/build.py
Due: check-header, pyright

Refine DMG icon layout geometry
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/create_styled_dmg.sh
Due: check-header, pyright

Adjust DMG app icon position
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/create_styled_dmg.sh
Due: check-header, pyright

Align DMG icons with background placeholders
  tests/non_gui/test_linux_metadata.py
  tools/build-mac/create_styled_dmg.sh
Due: check-header, pyright

Path conditions:
  check-header: any of: \.py$ and \.py$
  ensure-desktop-newline: any of: ^tools/resources/linux-bitcoin-safe\.desktop$
  pyright: any of: \.py$
