Repository andreasgriffin/bitcoin-safe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, ensure-desktop-newline, pyright

check-header:
  name: Check Python File Headers
  entry: python tools/check_header.py
  language: system

ensure-desktop-newline:
  name: Ensure desktop files end with newline
  entry: python tools/ensure_desktop_newline.py
  language: system

pyright:
  name: Pyright Type Check (npm install -g pyright)
  entry: bash -c 'if command -v pyright >/dev/null; then pyright; else echo "pyright not installed, skipping..."; exit 0; fi'
  language: system
  pass_filenames: false

Translated using Weblate (Chinese (Simplified Han script))
  bitcoin_safe/gui/locales/app_zh_CN.ts
Due: none

ci: update GitHub actions for Node 24
  .github/workflows/build-and-test-mac.yml
  .github/workflows/build-appimage-and-test.yml
  .github/workflows/build-windows-and-test.yml
  .github/workflows/python-tests.yml
  .github/workflows/weblate-correct.yml
Due: none

dep
  poetry.lock
Due: none

fi
  tools/deterministic-build/requirements-build.txt
Due: none

squash
  .github/workflows/build-flatpak-and-test.yml
  .github/workflows/run_all_builds.yml
  .vscode/launch.json
  README.md
  bitcoin_safe/update_applier.py
  tests/non_gui/test_update_applier.py
  tools/build-linux/flatpak/Dockerfile
  tools/build-linux/flatpak/apt.conf
  tools/build-linux/flatpak/apt.preferences
  tools/build-linux/flatpak/apt.sources.list
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/flatpak_common.sh
  tools/build-linux/flatpak/install_and_smoke_test_bundle.sh
  tools/build-linux/flatpak/org.bitcoinsafe.BitcoinSafe.metainfo.xml
  tools/build-linux/flatpak/org.bitcoinsafe.BitcoinSafe.yml
  tools/build-linux/flatpak/run-bitcoin-safe.sh
  tools/build-linux/flatpak/run_in_docker.sh
  tools/build.py
  tools/launch.json
Due: check-header, pyright

Sync flatpak metainfo version and launch command
  .update_version.py
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/org.bitcoinsafe.BitcoinSafe.metainfo.xml
  tools/build-linux/flatpak/org.bitcoinsafe.BitcoinSafe.yml
Due: check-header, pyright

updated infos
  README.md
  bitcoin_safe/gui/qt/about_tab.py
  pyproject.toml
  tools/build-linux/flatpak/org.bitcoinsafe.BitcoinSafe.metainfo.xml
  tools/build.py
  tools/resources/linux-bitcoin-safe.desktop
Due: check-header, ensure-desktop-newline, pyright

Rename flatpak app id to org.bitcoin_safe
  .github/workflows/build-flatpak-and-test.yml
  .update_version.py
  tests/non_gui/test_update_applier.py
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/install_and_smoke_test_bundle.sh
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.metainfo.xml
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.yml
  tools/build-linux/flatpak/run_in_docker.sh
  tools/build.py
Due: check-header, pyright

version
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.metainfo.xml
Due: none

Make Flatpak builds reproducible
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/check_reproducibility.sh
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.yml
  tools/build-linux/flatpak/run_in_docker.sh
Due: none

Fix Flatpak runtime dependency install
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.yml
Due: none

Normalize Flatpak entrypoint scripts
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.yml
Due: none

Stabilize Flatpak export timestamps
  tools/build-linux/flatpak/build_and_test.sh
Due: none

Document Flatpak reproducibility steps
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/check_reproducibility.sh
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.yml
Due: none

Fix multisig help window lifecycle
  bitcoin_safe/gui/qt/hardware_signer_interaction_widget.py
  bitcoin_safe/gui/qt/register_multisig.py
  bitcoin_safe/gui/qt/usb_register_multisig.py
  tests/gui/qt/test_wallet_features.py
Due: check-header, pyright

squash
  bitcoin_safe/gui/qt/icon_label.py
  bitcoin_safe/gui/qt/send_test_schedule.py
  bitcoin_safe/gui/qt/tx_signing_steps.py
  bitcoin_safe/gui/qt/ui_tx/ui_tx_viewer.py
  bitcoin_safe/gui/qt/wizard/wizard.py
  bitcoin_safe/tx.py
  tests/gui/qt/test_icon_label.py
  tests/gui/qt/test_tx_signing_steps.py
  tests/gui/qt/test_wizard_send_test_routing.py
  tests/non_gui/test_send_test_schedule.py
Due: check-header, pyright

refine
  bitcoin_safe/gui/qt/send_test_schedule.py
  bitcoin_safe/gui/qt/tx_signing_steps.py
  bitcoin_safe/gui/qt/wizard/wizard.py
  tests/gui/qt/test_tx_signing_steps.py
  tests/gui/qt/test_wizard_send_test_routing.py
  tests/non_gui/test_send_test_schedule.py
Due: check-header, pyright

reduce timeou
  bitcoin_safe/client.py
Due: check-header, pyright

add logging
  bitcoin_safe/client.py
  bitcoin_safe/p2p/peer_discovery.py
Due: check-header, pyright

Add Flatpak reproducibility diagnostics
  .github/workflows/build-flatpak-and-test.yml
  .github/workflows/flatpak-reproducibility.yml
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/check_reproducibility.sh
  tools/build-linux/flatpak/flatpak_common.sh
  tools/build.py
Due: check-header, pyright

Fix OSTree diagnostics checkout path
  tools/build-linux/flatpak/build_and_test.sh
Due: none

Init OSTree repos for Flatpak diagnostics
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/check_reproducibility.sh
Due: none

Include Flatpak repro debug in workflow artifacts
  .github/workflows/build-flatpak-and-test.yml
Due: none

Use git archive for Flatpak source staging
  tools/build-linux/flatpak/build_and_test.sh
Due: none

Ignore directory allocation in Flatpak manifests
  tools/build-linux/flatpak/build_and_test.sh
Due: none

Make Flatpak bundle creation deterministic
  tools/build-linux/flatpak/Dockerfile
  tools/build-linux/flatpak/build_and_test.sh
Due: none

Require faketime for reproducible Flatpak bundles
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/flatpak_common.sh
Due: none

Limit faketime installs to Flatpak bundling
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/flatpak_common.sh
Due: none

Add Flatpak bundle faketime probe diagnostics
  tools/build-linux/flatpak/build_and_test.sh
Due: none

Normalize Flatpak bundle timestamps after export
  tools/build-linux/flatpak/Dockerfile
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/flatpak_common.sh
Due: none

Build Flatpak bundle only once per run
  tools/build-linux/flatpak/build_and_test.sh
Due: none

Handle empty mempool block payloads
  bitcoin_safe/mempool_manager.py
  tests/non_gui/test_mempool_manager.py
Due: check-header, pyright

26-06-03_Update Translation_de_DE
  bitcoin_safe/gui/locales/app_de_DE.ts
Due: none

updates
  poetry.lock
  tools/deterministic-build/requirements-build.txt
Due: none

Fix multisig device instructions filtering
  bitcoin_safe/gui/qt/register_multisig.py
  bitcoin_safe/gui/qt/usb_register_multisig.py
  tests/gui/qt/test_wallet_features.py
Due: check-header, pyright

fix demo wallet
  bitcoin_safe/gui/demo_wallets/TESTNET4/demo-public-testnet4.wallet
Due: none

rename
  bitcoin_safe/gui/qt/keystore_ui.py
Due: check-header, pyright

Path conditions:
  check-header: any of: \.py$ and \.py$
  ensure-desktop-newline: any of: ^tools/resources/linux-bitcoin-safe\.desktop$
  pyright: any of: \.py$
