Repository andreasgriffin/bitcoin-safe: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header, ensure-desktop-newline, pyright

check-header:
  name: Check Python File Headers
  entry: python tools/check_header.py
  language: system

ensure-desktop-newline:
  name: Ensure desktop files end with newline
  entry: python tools/ensure_desktop_newline.py
  language: system

pyright:
  name: Pyright Type Check (npm install -g pyright)
  entry: bash -c 'if command -v pyright >/dev/null; then pyright; else echo "pyright not installed, skipping..."; exit 0; fi'
  language: system
  pass_filenames: false

squash
  bitcoin_safe/gui/qt/color_corrected_treeview.py
  tests/gui/qt/test_my_treeview.py
Due: check-header, pyright

poetry update
  poetry.lock
  pyproject.toml
Due: none

compile
  tools/deterministic-build/requirements-build-mac-x86_64.txt
  tools/deterministic-build/requirements-build.txt
Due: none

squash
  .pre-commit-config.yaml
  bitcoin_safe/gui/qt/gpg_verify.py
  bitcoin_safe/gui/qt/sign_message.py
  bitcoin_safe/plugin_framework/external_plugin_registry.py
  bitcoin_safe/signature_manager.py
  poetry.lock
  pyproject.toml
  tests/non_gui/test_external_plugins.py
  tests/non_gui/test_signature_manager.py
Due: check-header, pyright

lock
  bitcoin_safe/__init__.py
  poetry.lock
  pyproject.toml
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.metainfo.xml
Due: check-header, pyright

Translated using Weblate (Tamil)
  bitcoin_safe/gui/locales/app_ta_IN.ts
Due: none

squash
  tools/build-linux/flathub-flatpak/build-flatpak-app.sh
  tools/build-linux/flathub-flatpak/normalize-svg-icon.py
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
  tools/build-linux/flathub-flatpak/run-bitcoin-safe.sh
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.metainfo.xml
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.yml
Due: check-header, pyright

Exclude prereleases from generated metainfo
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Move Flatpak icon normalization upstream
  tools/build-linux/flathub-flatpak/build-flatpak-app.sh
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/normalize-svg-icon.py
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.svg
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.yml
Due: check-header, pyright

Refresh upstream metainfo during populate
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.metainfo.xml
Due: check-header, pyright

squash
  .github/workflows/tests.yml
  .update_version.py
  .vscode/launch.json
  tools/build-linux/flathub-flatpak/build-flatpak-app.sh
  tools/build-linux/flathub-flatpak/normalize-svg-icon.py
  tools/build-linux/flathub-flatpak/org.bitcoin_safe.BitcoinSafe.metainfo.xml
  tools/build-linux/flathub-flatpak/org.bitcoin_safe.BitcoinSafe.svg
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
  tools/build-linux/flathub-flatpak/run-bitcoin-safe.sh
  tools/build-linux/flatpak/Dockerfile
  tools/build-linux/flatpak/build_and_test.sh
  tools/build-linux/flatpak/org.bitcoin_safe.BitcoinSafe.yml
  tools/build-linux/flatpak/run-bitcoin-safe.sh
  tools/deterministic-build/compile.sh
  tools/deterministic-build/requirements-build-mac-x86_64.txt
  tools/deterministic-build/requirements-build.in
  tools/deterministic-build/requirements-build.txt
  tools/make_libusb.sh
  tools/make_zbar.sh
  tools/native_git_dependencies.sh
Due: check-header, pyright

Move Flathub requirement files upstream
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
  tools/build-linux/flathub-flatpak/requirements-build-backends.txt
  tools/build-linux/flathub-flatpak/requirements-runtime.txt
Due: check-header, pyright

Load Flathub helper files from upstream
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Use app source requirements in flathub manifest
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Use upstream app sources in flathub manifest
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Shorten flathub vendor copy commands
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Refactor Flatpak desktop metadata and cleanup
  tools/build-linux/appimage/run_in_docker.sh
  tools/build-linux/flathub-flatpak/build-flatpak-app.sh
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
  tools/build-linux/flatpak/build_and_test.sh
  tools/resources/linux-bitcoin-safe.desktop
Due: check-header, ensure-desktop-newline, pyright

Decouple AppImage desktop entry
  tools/build-linux/appimage/bitcoin-safe.desktop
  tools/build-linux/appimage/run_in_docker.sh
Due: none

Deduplicate native module cleanup paths
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

remove SOURCE_DATE_EPOCH
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

removed readme
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

remove SOURCE_DATE_EPOCH
  tools/build-linux/flathub-flatpak/build-flatpak-app.sh
Due: none

Remove redundant Flathub cleanup commands
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Use Makefile for Flatpak app build
  tools/build-linux/flathub-flatpak/Makefile
  tools/build-linux/flathub-flatpak/build-flatpak-app.sh
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Fix recursive Flatpak make targets
  tools/build-linux/flathub-flatpak/Makefile
Due: none

Move Python test cleanup into manifest paths
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Install runtime dependencies directly in Flatpak
  tools/build-linux/flathub-flatpak/Makefile
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Fix Flatpak runtime pip find-links path
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

squash
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

set
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Extend serialize_json to render sets as {} literals
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

Use dict[str, str] for env build-options (valid JSON)
  tools/build-linux/flathub-flatpak/populate-flathub-manifest-repo.py
Due: check-header, pyright

checklis
  RELEASE_CHECKLIST.md
Due: none

squash
  bitcoin_safe/network_utils.py
  bitcoin_safe/plugin_framework/external_plugin_registry_dataclasses.py
Due: check-header, pyright

remove option
  .vscode/launch.json
  tools/build_linux/flathub_flatpak/populate_cli.py
Due: check-header, pyright

Make AppImage Python link step reproducible
  tools/build_linux/appimage/run_in_docker.sh
Due: none

Normalize AppImage file permissions
  tools/build_linux/appimage/run_in_docker.sh
Due: none

squash
  bitcoin_safe/gui/qt/keystore_ui.py
  poetry.lock
  tests/gui/qt/test_keystore_ui.py
  tools/build_linux/flathub_flatpak/requirements-build-backends.txt
  tools/build_linux/flathub_flatpak/requirements-runtime.txt
Due: check-header, pyright

Path conditions:
  check-header: any of: \.py$ and \.py$
  ensure-desktop-newline: any of: ^tools/resources/linux-bitcoin-safe\.desktop$
  pyright: any of: \.py$
